*.pyc
**/__pycache__/
.gradio/
.idea/
.vscode/
.history
.DS_Store
demo/kb_output/*.jpg
demo/kb_output/*.png
**/flagged/
# build outputs
dist/
build/
# checkpoint
*.pth
*.pt
*.mnn

.python-version

# Ignore .png and .jpg files in the root directory
/*.png
/*.jpg
